.venue-map-container {
    display: flex;
    position: relative;
    flex-grow: 1;
    padding: 50px;
    width: 100%;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}

.venue-map {
    height: 100%;
    width: 100%;
}

.map-functional-buttons {
    background-color: rgb(254, 254, 254);
    width: 50px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 50px;
    top: 20px;
    border-radius: 30px;
}

.venue-map {
    user-select: none;
}