.homepage-header {
    height: 68px;
}

.homepage-header-left {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 20%;
    height: inherit;
}
.homepage-header-left a {
    width: 80%;
    height: 80%;
}

.homepage-header-left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
}

.homepage-header-left img:hover {
    cursor: pointer;
}

.homepage-header-right {
    display: flex;
}

.homepage-header-right div {
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.homepage-header-right div:hover {
    cursor: pointer;
    background-color: aliceblue;
}