.ticket-listing-container {
    min-width: 600px;
    width: 600px;
    height: 100%;
    overflow-y: scroll;
}

.user-price-input {
    width: 50px;
    border-radius: 4px 2px;
    border: 1px solid black;
}

.filters {
    display: flex;
    align-items: center;
}

.filter-logo {
    width: 24px;
    height: 24px;
}

.filter-logo-container {
    cursor: pointer;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid black;
}