.card {
    height: 150px;
    width: 400px;
    border: 1px solid gray;
    margin: 20px;
}

.confirmation-panel {
    position: absolute;
    z-index: 30;
    top: 200px;
    left: 500px;
    width: 500px;
    height: 800px;
    background-color: aliceblue;
    border: 1px solid black;
}