.search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.search-form input {
    width: 30vw;
    height: 50px;
    padding: 0px 12px;
    border-radius: 10px;
    margin-right: 6px;
}

.search-form button {
    background-color: rgb(78, 73, 82);
    color: rgb(104, 101, 101);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 60px;
    border-radius: 10px;
}

.search-form button:hover {
    background-color: rgb(255, 232, 202);
    color: rgb(243, 161, 54);
    cursor: pointer;
}

.search-results {
    background-color: rgb(152, 152, 152);
    position: absolute;
    top: 30%;
    left: 33%;
}

.individual-search-result:hover {
    background-color: rgb(110, 110, 110);
}