
  
.search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.search-form input {
    width: 30vw;
    height: 35px;
}

.search-form button {
    background-color: rgb(78, 73, 82);
    color: rgb(104, 101, 101);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60px;
}

.search-form button:hover {
    color: rgb(243, 161, 54);
    cursor: pointer;
}